.form {
	position: relative;
}

.input {
	width: 100%;
	border-color: transparent;
	padding: 10px 100px 10px 5px;
	box-shadow: 0 0 10px -5px #000000;
}

.button {
	position: absolute;
	width: 80px;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	border: 1px solid #06bd86;
	background-color: #06bd86;
	color: #ffffff;
	padding: 2px;
	cursor: pointer;
}

.button:hover,
.button:focus {
	border-color: #08996e;
	background-color: #08996e;
}
.button:active {
	opacity: 0.8;
}

.button:disabled {
	background-color: gray;
	border-color: gray;
}
